

<h1><%= @event.title %></h1>


<%= render 'detail' %>


<% if @event.community.organizer == session[:user_id].to_i%>
	<p><%= link_to "edit event", edit_event_path(@event.id)%></p>
<% end %>

<%= render 'comments' %>

