<script>
$(document).ready(function()
		{
			/*
				Initialize fullCalendar and store into variable.
			*/			
			var calendar = $('#calendar').fullCalendar(
			{
				header:
				{
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				defaultView: 'month',
				/*
					editable: true allow user to edit events.
				*/
				editable: false,
				/*
					events is the main option for calendar.
				*/
				events: {
					url:'/calendars.json',
					type: 'GET',
					  error: function() {
					      alert('there was an error while fetching events!');
					  },
					  backgroundColor: 'yellow',
					  textColor: 'black',
					  eventClick: function(event) {
				        if (event.url) {
				            window.open(event.url);
				            return false;
				        }
				    }
				}
			});	
		});

</script>


<h2>Welcome to Bulletin!</h2>
<p>Bulletin shows you a calendar of events created by our communities.</p>
<p>Log in <%= link_to "here", new_user_path %>, and start putting events on your calendar for people to see.</p> 

<p>Or, click on an event and check out what's going on!</p>

<div id='calendar'></div>